input, select {
    padding: 0.25em;
}

.single-input {
    display: inline-block;
    width: 200px;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
}

.input-label {
    display: block;
    margin-bottom: 0.5em;
}