#add-tab-title, #edit-tab-title, #overview-tab-title {
    text-transform: uppercase;
}

#edit-tab-title {
    display: none;
}

.tab-list {
    padding-left: 0;
    li {
        display: inline-block;
        margin-right: 2em;
        &:hover {
           border-bottom: 3px solid $lighter-text-color; 
        }
    }
}

.tab-panel {
    display: none;
    margin-top: 3em;
    &:after {
       @extend %clearfix; 
    }
}

.active {
    display: block;
    h3 {
       color: $text-color1; 
    }
}

ul .active {
    border-bottom: 3px solid $text-color1;
    &:hover {
        border-bottom: 3px solid $text-color1;
    }
}