// Global Styles

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html { overflow-y: scroll; }

body {
    font-family: $body-font;
    background: $bg-color1;
}

.wrapper {
    width: 750px;
    margin: 5em auto;
    padding: 2em;
    padding-top: 1em;
    background: $white-color;
    box-shadow:  0 1px 1.5px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
}

a {
    color: $text-color1;
}

li a {
    text-decoration: none;
}

h1, h2, h4 {
    color: $text-color1;
}

h3 {
    color: $lighter-text-color;
}